/*ESTILOS GENERALES*/
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #e6f0f7;
    color: #333;
    line-height: 1.6; /* espacio entre líneas */
    text-align: justify;
    font-size: 16px; 
}

/* párrafos */
p{
    font-size: 16px;
}

/* contenedor principal */
main {
    padding: 25px;
    max-width: 1100px;
    margin: 0 auto;
}

/* listas */
li{
    font-size: 16px;
}

ul {
    margin: 0%;
}

ul li {
    margin-bottom: 5px; /* separación entre items */
}

/*HERO (sección principal de bienvenida)*/
.hero {
    background: #d6e9f7;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

/*botón del hero*/
.btn-hero {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2bac3e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/*TÍTULO PRINCIPAL*/
#titulo {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/*BARRA DE PROGRESO*/
.barra-progreso {
    width: 100%;
    height: 7px;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

/*HEADER*/
header {
    background-color: #9cbcde;
    color: white;
    padding: 15px 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 10px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

/*logo en la esquina*/
.logo {
    position: absolute;
    left: 20px;
    top: 2px;
    width: 80px;
    height: auto;
    box-shadow: none;
}

/*MENÚ DE NAVEGACIÓN*/
nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 15px;
}

/*efecto al pasar el mouse*/
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*item seleccionado*/
#selected-item {
    color: #4c4cd4;
    font-weight: bold;
    border-bottom: 2px solid #4c4cd4;
}

.activo {
    background-color: white;
    color: #1a1a7a;
    font-weight: bold;
}

/*SECCIONES*/
section {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
     transition: all 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

/*títulos*/
h1 {
    font-size: 36px;
}

h2 {
    color: #2bac3e;
    font-size: 30px;
    margin-bottom: 15px;
}

h3 {
    color: #1a1a7a; 
    margin-bottom: 10px;
    font-size: 22px;
}

/*subtítulos*/
.subtitulos {
    font-weight: 700;
}

article h3 {
    color: #00509e;
}

/*IMÁGENES*/
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.contenedores img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
/*referencia de imágenes*/
.img-ref {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    
}
img:hover {
    border: 3px solid #2bac3e;
}

.ref {
    font-size: 12px;
    text-align: center;
    color: #555;

}

.ref a {
    color: #0044cc;
    text-decoration: none;
}

.ref a:hover {
    text-decoration: underline;
}

/*CONTENEDORES (módulos) */
.contenedores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.contenedores ul {
    flex: 1;
    min-width: 250px;
}

.contenedores img {
    flex: 1;
    max-width: 400px;
}

/*BOTÓN VIDEO*/
.btn-video {
    display: inline-block;
    padding: 12px 25px;
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.btn-video:hover {
    background-color: #cc0000;
}
button, .btn-hero, .btn-video {
    transition: all 0.3s ease;
}

button:hover, .btn-hero:hover, .btn-video:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/*BOTONES IDIOMA*/
button {
    background: linear-gradient(135deg, #5383a8, #9cc9e6);
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}


/*QUIZ*/
.quiz-section {
    background: #ffffff;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
}

.quiz-title {
    color: #2bac3e;
    margin-bottom: 10px;
}

.quiz-form p {
    font-weight: bold;
    margin-top: 10px;
}

.quiz-button {
    background-color: #0b3d91;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-button:hover {
    background-color: #2bac3e;
}

.quiz-resultado {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: green;
}

/* FOOTER */
footer {
    background-color: #9cbcde;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer a {
    color: #f1f1f1;
    text-decoration: underline;
}